html, body {
  height: 100%;
}

#page-wrapper {
  position: relative;
  min-height: 100%;
}

body.navbar-is-fixed-top {
  padding-top: 80px !important; /* Navbar height */
  padding-bottom: 100px; /* Footer height */
}

body.toolbar.navbar-is-fixed-top {
  padding-top: 110px !important; /* Navbar height + Drupal admin toolbar */
}

body.toolbar-drawer.navbar-is-fixed-top {
  padding-top: 144px !important; /* Navbar height + Drupal admin toolbar + drawer */
}

h1 {
  font-family: 'Signika', sans-serif;
  font-size: 3em;
  color: #0092ce;
}

body.front h1.page-header {
  display: none;
}

h2 {
  font-family: 'Signika', sans-serif;
  font-size: 2.5em;
}

h3 {
  font-family: 'Signika', sans-serif;
  font-size: 2.5em;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.2em;
}

.navbar {
  min-height: 80px;
}

a.logo {
  height: 60px;
  margin: 10px 0;
}

.navbar-brand  {
  display: none;
}

#navbar .navbar-nav {
  background-color: #f8f8f8;
}

#navbar .navbar-nav > li > a {
  line-height: 20px;
  color: #0092ce;
  font-family: 'Signika', sans-serif;
  font-size: 1.2em;
}

#navbar .navbar-nav > li > a:hover {
  background-color: white;
}

#navbar .navbar-nav.secondary {
  float: none;
}

#navbar .navbar-nav.secondary > li > a {
  font-size: 1em;
}

button.navbar-toggle {
  margin-top: 20px;
}

.logo img {
  height: 60px;
}

.main-container {
  margin-top: 20px;
}

#hero {
  position: relative;
  background-image: url('../images/deafindia_elysepatten_flickr.jpg');
  background-size: cover;
  background-position: center;
}

#hero .container {
  min-height: 500px;
  position: relative;
}

#hero h1 {
  font-size: 3em;
  color: white;
  text-shadow: 4px 4px 8px black, -4px -4px 8px black, 4px -4px 8px black, -4px 4px 8px black;
}

#hero .photocredit {
  color: white;
  position: absolute;
  bottom: 0;
  right: 10px;
}

#hero .photocredit a {
  color: white;
  text-decoration: underline;
}

.front-page-features {
  padding: 3em 0;
}

.front-page-quotes {
  padding: 3em 0;
  background-color: #0092ce;
}

.front-page-quotes blockquote {
  padding: 0;
  font-size: 1.4em;
  font-family: serif;
  font-style: italic;
  color: white;
  border: none;
}

.front-page-quotes blockquote p {
  font-size: 1.4em;
}

.front-page-quotes p {
  color: white;
}

.region-content {
  margin-top: 2em;
  margin-bottom: 2em;
}

.footer {
  margin-top: 0;
  background-color: #f5f5f5;
}

.footer .contact,
.footer .block {
  margin: 10px 0;
  text-align: center;
  font-size: 0.9em;
  color: gray;
}

.social-media-icon {
  height: 20px;
}

.view-staff img {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.view-staff h4 {
  margin-top: 20px;
}

.press-release-date {
  font-size: 0.9em;
  font-weight: bold;
}

.press-release-body {
  margin-top: 1em;
}

.press-release-image img {
  margin-top: 1em;
  width: 100%;
  height: auto;
}

.photo-caption {
  margin-top: 0.5em;
  color: #777;
  font-size: 0.9em;
  text-align: center;
}

.region-after-content {
  margin: 20px 0;
}

.stMainServices, .stButton, .stHBubble {
  height: 22px !important;
}
