html>body.navbar-is-fixed-top {
  padding-top: 80px !important; /* Padding top is logo + navbar height */
}

html>body.toolbar.navbar-is-fixed-top {
  padding-top: 110px !important; /* Drupal admin toolbar */
}

html>body.toolbar-drawer.navbar-is-fixed-top {
  padding-top: 144px !important; /* Drupal admin toolbar + drawer */
}

#navbar .navbar-header {
  float: left;
}

#navbar .navbar-nav > li > a {
  font-size: 1.2em;
  padding: 0 15px;
  line-height: 80px;
}

#navbar .navbar-nav.secondary > li > a {
  padding: 0 10px;
}
